.media-image{
  height:auto;
  width:150px;
}

.intro{
  font-size:32px;
  font-weight:bold;
}

h1{
  font-size:32px;
  color:#0c1656;
}

h2 {
  font-size:28px;
  color:#0c1656;
}

h3 {
  font-size:24px;
  color:#0c1656;
}

body {
  background-color:#c2caf9;
}
